<div class="container-wrapper">
    <tabset>
      <tab heading="Product" id="tab1">
        <div class="tabset-wrapper">
       <app-dfrm ftype="product"></app-dfrm>
      </div>
      </tab>
      <tab heading="User">
        <div  class="tabset-wrapper">    
        <app-dfrm ftype="user"></app-dfrm>
      </div>
      </tab>
      <tab heading="Basic Title 2">
          <div  class="tabset-wrapper">
        <app-dynamic-list ltype="product"></app-dynamic-list>
        </div>
      </tab>
      <tab heading="Basic Title 2">
          <div  class="tabset-wrapper">
          <app-dynamic-list ltype="user"></app-dynamic-list>
        </div>
        </tab>
    </tabset>
  </div>