<div class="container-wrapper">
  <tabset>
    <tab heading="Product" id="tab1">
      <div class="tabset-wrapper">

        <div class="tabset-margin">
          <app-dynamic-for-tab [componentData]="componentDataProduct" (switch)="switchCompData($event)"></app-dynamic-for-tab>
        </div>
      </div>
    </tab>
    <tab heading="User">
      <div class="tabset-wrapper">
       <div class="tabset-margin">
          <app-dynamic-for-tab [componentData]="componentDataUser" (switch)="switchCompData($event)"></app-dynamic-for-tab>
        </div>
      </div>
    </tab>

  </tabset>
</div>