<app-ui-loader [visible]="IsLoaderVisible"></app-ui-loader>
<div class="col-md-12 " >
<img src="../../assets/pics/backbtn.png" class="setbackimage" (click)="switchCompData()">
</div> 
<div style="margin-top: 30px;">
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit(form)" >
      <div class="form-group" *ngFor="let ctl of formControl">
        <div class="form-row">
          <div class="col-md-6" *ngFor="let ctl1 of ctl.fctrl">
            <label for={{ctl1.name}}>{{ctl1.Dname}}</label>
            <input class="form-control" [formControlName]="ctl1.name" id={{ctl1.name}} *ngIf="ctl1.type=='input'" type="text" aria-describedby="nameHelp">
            <input class="form-control" [formControlName]="ctl1.name" id={{ctl1.name}} *ngIf="ctl1.type=='pass'" type="password" aria-describedby="nameHelp">
            <input class="form-control" [formControlName]="ctl1.name" id={{ctl1.name}} *ngIf="ctl1.type=='number'" type="number" aria-describedby="nameHelp">
            <input class="form-control" [formControlName]="ctl1.name" id={{ctl1.name}} *ngIf="ctl1.type=='email'" type="email" aria-describedby="nameHelp">
            <input type="file" (change)="selectFile($event)" *ngIf="ctl1.type=='file'">
            <select class="form-control" [formControlName]="ctl1.name" *ngIf="ctl1.type=='dropdown'">
              <option value=1>
                dfdsf
              </option>
              <option value=2>
                  dfdsfasdd
                </option>
            </select>
            <textarea *ngIf="ctl1.type=='textarea'" [formControlName]="ctl1.name" class="form-control">
                  </textarea>
          </div>
        </div>
      </div>
      <button  type=submit class="btn btn-primary">Submit</button>
        <!-- [disabled]="!form.valid" -->
    </form>
   </div>
    <!-- <div style="text-align:center">

    <label>
  
      <input type="file" (change)="selectFile($event)">
  
      </label>  
  
      <button [disabled]="!selectedFiles"
  
  (click)="upload()">Upload</button>
  <button (click)="getData()">getdata</button>
  
    </div> -->
