<button type=submit class="btn btn-success" (click)="switchCompData()">Add new</button>
<div style="margin-top: 30px;">
<table class="table ">
  <tr class="commit-tease">
    <td *ngFor="let header of tableHeader">
        {{header.header.Displayname}}
    </td>
    </tr>
    <tr *ngFor="let body of tableBody">
     
      <ng-container *ngFor="let header of tableHeader">
        <td *ngIf="header.header.name!='image'">
          {{body[header.header.name]}}
       </td> 
       <td *ngIf="header.header.name=='image'">
         <img src="https://localhost:5001/{{body[header.header.name]}}" style="width:100%;height: 200px;">
       </td> 
  </ng-container>
  </tr>

  </table>
  </div>