<button type=submit class="btn btn-success" (click)="switchCompData()">Add new</button>
<div style="margin-top: 30px;">
<table class="table table-bordered">
  <tr class="commit-tease">
    <td *ngFor="let header of tableHeader">
        {{header.header.Displayname}}
    </td>
    </tr>
    <tr *ngFor="let body of tableBody">
     
      <ng-container *ngFor="let header of tableHeader">
        <td>
          {{body[header.header.name]}}
       </td>  
  </ng-container>
  </tr>

  </table>
  </div>